@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:wght@400;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.navbar__main {
  width: 100%;
  background-color: black;
  border-bottom: 1px solid #e8e8e8;
  height: 10vh;
  position: fixed;
  transition: all 0.5s ease;
  animation: slideInTop 1s ease 0.5s forwards;
  transform: translateX(-100%);
  z-index: 10;
}

@keyframes slideInTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
.navbar__container .logo {
  font-family: "Lobster", cursive;
  letter-spacing: 3px;
  position: relative;
  z-index: 2;
  color: #96bf43;
  font-size: 20px;
  flex: 1;
}
.navbar__container .logo a {
  text-decoration: none;
  color: #96bf43;
}

.navbar__container ul {
  list-style: none;
  display: flex;
}

ul li {
  padding: 0 20px;
  font-weight: 700;
  font-size: 15px;
  cursor: pointer;
  color: #96bf43;
}
ul li a {
  text-decoration: none;
  transition: all 1s ease;
  color: #ffffff;
}
ul li:hover a {
  color: #96bf43;
}

.icons {
  display: flex;
  align-items: center;
  position: relative;
}

.icons span {
  background-color: blue;
  color: white;
  font-weight: 600;
  font-size: 10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -5px;
  right: -5px;
}
.icons img {
  margin-left: 2em;
}

.close {
  display: none;
}
